.container{
    background-color: #7289da;
    display:grid;
    justify-content: center;
    height:20em;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 1.1rem;
}